name: PHP Composer'8.4'

on:
  push:
    branches:
      - master
      - 'releases/**'
      - 'feature/**'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: [ '8.4', '8.5' ]
        dependencies: [ 'locked', 'latest' ]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, xml, ctype, iconv, intl, pdo_sqlite, dom, filter, json
          coverage: none
          tools: composer:v2

      - name: Validate composer.json and composer.lock
        run: composer validate --strict -n

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --prefer-dist --no-scripts

      - name: CS Check
        run: composer cs-check

      - name: PHPStan
        run: composer phpstan

      - name: PHPUnit
        run: composer phpunit
